#grid .button:disabled {
-fx-opacity: 1;
}
.style_commun {
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 6 6 6;
    -fx-font-size: 0.9em;

	 -fx-text-alignment: center;
	 -fx-alignment: center;
	 -fx-pref-width: 50px;
     -fx-pref-height: 50px;

}

.ZETA {
	
}
.PHOENIX {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.QUANTUM {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
#infoChaine.columnheader{
	
}
#gridTRADE {

}
#gridSELL {

}
#gridKEEP {

}

#caseDisponible:hover{ 
  -fx-cursor: hand; 
}

